html {
  background-color: #ffffff;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100vw;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  // Supports weights 400-900
  font-family: 'Playfair Display Variable', sans-serif;
  font-weight: 900;
}

p, span {
  // Supports weights 400-700
  font-family: 'Lora variable', sans-serif;
  font-weight: 400;
}

.sr-only {
  position: absolute;      /* Removes the element from normal flow */
  width: 1px;              /* Makes the element very small */
  height: 1px;
  margin: -1px;            /* Pushes the element outside of the visible area */
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);  /* Ensures it’s completely hidden off-screen */
  overflow: hidden;        /* Hides any overflow */
}