---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map(project => ({
    params: { slug: project.data.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
---

<h1>{project.data.title}</h1>
<p>{project.data.description}</p>

<div class="gallery">
  {project.data.gallery.map(image => (
    <img src={image} alt="" />
  ))}
</div>
