---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1>PLANNING YOUR JOURNEY</h1>
  <h2>Your Journey Planned</h2>
  <h3>A journey awaits!</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum porro dicta totam doloribus molestias sapiente ex necessitatibus provident saepe, amet itaque voluptates debitis odit quibusdam mollitia cum consequatur! Doloremque, quas.</p>
  <span>Journey Beyond</span>
  <ul class="portfolio">
    <li>
      <p>Test</p>
    </li>
  </ul>
</BaseLayout>

