header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


/* Tablets and small laptops (769px - 1024px) */
@media (min-width: 769px) {

}

/* Large desktops and high-resolution screens (1025px and up) */
@media (min-width: 1025px) {

}

/* Extra-large screens (1440px and up) */
@media (min-width: 1440px) {

}