---
import { Image } from 'astro:assets';
import footerGallery from '../../../config/footer-gallery.json';  // Import the PagesCMS config

const { images } = footerGallery;  // Destructure the images array
---

<div class="footer-gallery">
  {images?.map((item, index) => (
    <Image
      src={item.image}
      alt={`Footer Gallery Image ${index + 1}`}
      class="footer-gallery-image"
      loading={'eager'}
      decoding="async"
      fetchpriority="low"
      width="120"
      height="120"
    />
  ))}
</div>

