---

//Imports
import Socials from '../socials/Socials.astro';  // Import the Socials component
import socials from '../../config/socials.json';  // Import the social links from the CMS

// Styles
import '../footer/footer.scss';
import FooterGallery from '../footerGallery/FooterGallery.astro';

// Scripts
const d = new Date();
let year = d.getFullYear();


// Props
const { title } = Astro.props;
const { social_links } = socials;  // Get the list of social links from CMS
---

<footer class="footer">
  <div class="footer-container">
    <!-- Pass social_links as a prop to Socials.astro -->
    <Socials social_links={social_links} />
    <FooterGallery />
    <p class="footer-text">© {year} {title}. All Rights Reserved.</p>
  </div>
</footer>
