---
const { social_links } = Astro.props;
---

<div class="social-links">
  {social_links.map((social: { url: string | URL | null | undefined; platform: unknown; }) => (
    <a href={social.url} target="_blank" rel="noopener noreferrer" class="social-link">
      <img src={`https://www.${social.platform}.com/favicon.ico`} alt={social.platform} class="social-icon" />
      {social.platform}
    </a>
  ))}
</div>
