---
// Fonts
import '@fontsource-variable/playfair-display';
import '@fontsource-variable/lora';
// Cmponents
import BaseHead from '../components/head/BaseHead.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';

// Props
import { title as SITE_TITLE, description as SITE_DESCRIPTION } from '../config/site.json';
---
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer title={SITE_TITLE}/>
  </body>
</html>